{% extends 'admin/change_list.html' %} {% block object-tools %}
<a href="populate-user-profile/" class="action-button" style="color:#fff">Populate User and Profile Tables</a>
<a href="populate-location/" class="action-button" style="color:#fff">Populate Location Table</a>
<a href="populate-emp-status/" class="action-button" style="color:#fff">Populate Employee Status Table</a>
<a href="populate-category/" class="action-button" style="color:#fff">Populate Category Table</a>
<a href="populate-department/" class="action-button" style="color:#fff">Populate Department Table</a>
<a href="populate-group/" class="action-button" style="color:#fff">Populate Group Table</a>
<br />
{{ block.super }} {% endblock %}
