{% extends 'admin/base.html' %}

{% block extrastyle %}{{ block.super }}
<style>
:root {
  --primary: #ba2121;
  --secondary: #036;
  --link-fg: #000;
  --link-selected-fg: #8f5bb2;
  --button-bg: #5b80b2;
  --delete-button-bg: #e16565;
}
.action-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #45a049;
}

.object-tools, a.addlink {
  display: none;
}
</style>
{% endblock %}
