@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.middle-place {
    margin-left: auto;
    margin-right: auto;
}


.auth-text {
    text-align: center;
    color: #000;
    margin: 15px 4px;
    font-size: 40px;
    font-weight: 700;
}

.background-container {
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel-item img {
    height: 400px; 
    object-fit: cover; 
 }
  
 .navbar-container {
  background-color: gold;
  color: black;
}

 
/* drinks */

.drink-container {
  margin-top: 20px;
}

.drink-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.drink-image {
  width: 150px;
  max-height: 150px; 
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.drink-name {
  text-align: center;
  margin-top: 10px;
}

.no-drinks,
.select-category {
  text-align: center;
  margin-top: 20px;
}

.cart-container {
  margin-top: 90px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}

.cart-title {
  text-align: center;
}

.cart-item {
  margin-bottom: 10px;
}

.checkout-button {
  margin-top: 10px;
  transition: all 0.3s ease;
}

.checkout-button:hover {
  transform: scale(1.1);
}